<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>회원가입창</p>
<form method="post" action="/client/accounts/register">
    <span th:text="#{id}">:</span>
    <input type="text" name="id"/></br>
    <span th:text="#{pw}">:</span>
    <input type="password" +name="password"/></br>
    <span th:text="#{name}">:</span></br>
    <input type="text" name="name"/></br>
    <span th:text="#{email}">:</span>
    <input type="text" name="email"/></br>
    <button type="submit">가입하기</button>
</form>
<form method="get" action="/">
    <button type="submit">뒤로 가기</button>
</form>


</body>
</html>