<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/loginstyles.css">
</head>
<body>

<div class="login-container">
    <div class="logo">
        Mini-Dooray!
    </div>
    <h2>Login</h2>
    <form method="post" action="/client/login">
        <input type="text" placeholder="Username" name="id" required>
        <input type="password" placeholder="Password" name="password" required>
        <button class="real-button" type="submit">Login</button>
    </form>
    <form method="get" action="/client/accounts/register">
        <button class="signup-button">회원가입</button>
    </form>
</div>

</body>
</html>
