<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<p>메인 화면</p>
<div th:if="${loginId} == null">
<span>
<form method="get" action="/client/accounts/register">
    <button type="submit">회원 가입</button>
</form>
</span>

    <span>
<form method="get" action="/client/login">
    <button type="submit">로그인</button>
</form>
</span>
</div>
<div th:unless="${loginId} == null">
    <span>
        <form method="post" action="/client/logout">
            <button type="submit">로그아웃</button>
        </form>
    </span>
</div>

<div th:if="${loginId} != null">
        <span>
            <p>참가한 프로젝트</p>
        </span>
    <table>
        <thead>
        <tr>프로젝트 아이디</tr>
        <tr>프로젝트 이름</tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.projectId}"></td>
            <td th:text="${project.projectName}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>