<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<p>메인 화면</p>
<div th:if="${loginId} == null">
<span>
<form method="get" action="/client/accounts/register">
    <button type="submit">회원 가입</button>
</form>
</span>

    <span>
<form method="get" action="/client/login">
    <button type="submit">로그인</button>
</form>
</span>
</div>
<div th:unless="${loginId} == null">
    <span>
        <form method="post" action="/client/logout">
            <button type="submit">로그아웃</button>
        </form>
        <form method="get" action="/client/projects">
            <button type="submit">프로젝트 목록보기</button>
        </form>
        <form method="get" action="/client/projects/register">
            <button type="submit">프로젝트 생성</button>
        </form>
    </span>
</div>


</body>
</html>