<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" type="text/css" href="/project-tast-contentstyles.css">
</head>
<body>
<div class="top-bar">
    <h2><span onclick="location.href='/'" class="home-link">Mini-Dooray!</span> | <span>프로젝트</span></h2>
    <form th:method="post" action="/client/logout">
        <button type="submit" class="logout-button">로그아웃</button>
    </form>
</div>
<div class="main-content">
    <h2>업무 내용</h2>
    <span th:text="${task.title}" class="title"></span></br>
    <h4 style="font-weight: 300;">담당자 <span style="font-weight: 300;" th:text="${task.registrantAccount}"></span></h4>
    <h4 style="font-weight: 300;">등록일자 <span style="font-weight: 300;" th:text="${task.createdDate}"></span></br></h4>
    <div class="content" th:text="${task.content}"></div>

    <form method="get" th:action="@{'/client/projects/'+${projectId}+'/tasks/'+${taskId}+'/modify'}">
        <button type="submit" class="modify-button">내용 수정하기</button>
    </form>

    <form method="post" th:action="@{'/client/projects/'+${projectId}+'/tasks/'+${taskId}+'/delete'}">
        <button type="submit" class="modify-button">게시글 삭제</button>
    </form>




    <div class="review-list-content">댓글 보이는 곳
        <ul>
            <li th:each="comment : ${comments}">
                <form method="post" th:action="@{'/client/projects/'+${projectId}+'/tasks/'+${taskId}+'/comment/'+${comment.commentId}}">
                    <span th:text="${comment.registrantAccount} + ': ' + ${comment.content}"></span>
                    <button type="submit" class="review-button">삭제</button>
                </form>
            </li>
        </ul>

    </div>
    <div class="review-content">
        <form method="post" th:action="@{'/client/projects/'+${projectId}+'/tasks/'+${taskId}+'/comment'}">
            <input type="text" name="content" id="inputId" placeholder="입력하세요">
            <button type="submit" class="review-button">등록</button>
        </form>
    </div>

   </div>
</body>
</html>