body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    margin-top: 0;
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.real-button {
    width: calc(107% - 20px);
    background-color: #005eff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
    margin-top: 10px;
}

.real-button:hover {
    background-color: #0056b3;
}

.signup-button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: black;
    transition: color 0.3s ease;
}

.signup-button:hover {
    color: #0056b3;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive;
    color: #005eff;
    font-size: 20px;
    font-weight: bold;
}
