/* mainstyles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 상단 파란색 바 스타일 */
.top-bar {
    background-color: #396ac8;
    height: 3rem; /* 높이를 3rem으로 변경 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 내부 요소들을 최대한 넓게 배치 */
}

.main-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 700px;
}

/* Mini-Dooray 텍스트 스타일 */
.top-bar h2 {
    margin: 0;
    font-size: 1.2rem; /* 폰트 사이즈를 1.2rem으로 변경 */
    color: white;
    font-family: 'Comic Sans MS', cursive;
    cursor: pointer;
    margin-left: 15px;
}

/* 로그인 및 회원 가입 버튼 스타일 */
.login-button, .register-button, .logout-button, .projects-button, .create-button {
    padding: 8px 16px; /* 버튼 내부 패딩을 조정 */
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive;
    font-size: 0.9rem; /* 폰트 사이즈를 0.9rem으로 변경 */
}

/* 회원 가입 버튼 오른쪽 정렬 */
.register-button {
    margin-left: auto;
}

/* 프로젝트 및 프로젝트 생성 버튼 오른쪽 정렬 */
.projects-button, .create-button, .logout-button {
    margin-left: 10px; /* 왼쪽 여백 추가 */
}
.create-button {
    margin-right: 10px; /* 오른쪽 여백 추가 */
}

/* 로그인 버튼 왼쪽 여백 조절 */
.login-button {
    margin-right: 10px; /* 오른쪽 여백 추가 */
}

/* 홈 링크 스타일 */
.home-link {
    color: white;
    text-decoration: none;
}

/* 예시로 내용 추가 */
.main-content {
    margin-top: 1.5cm;
    padding: 20px;
}
