/* mainstyles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 상단 파란색 바 스타일 */
.top-bar {
    background-color: #396ac8; /* 파란색 */
    height: 1.3cm; /* 높이 1.2cm */
    width: 100%;
    position: fixed; /* 화면 상단에 고정 */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px; /* 오른쪽 여백 추가 */
}

/* Mini-Dooray 텍스트 스타일 */
.top-bar h2 {
    margin: 0;
    font-size: 16px; /* 폰트 사이즈 */
    color: white; /* 흰색 */
    font-family: 'Comic Sans MS', cursive; /* 귀여운 폰트 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능하도록 설정 */
    margin-right: auto; /* 자동으로 오른쪽으로 이동 */
}

/* 로그인 및 회원 가입 버튼 스타일 */
.login-button, .register-button, .logout-button, .projects-button, .create-button {
    padding: 10px 20px;
    background-color: transparent; /* 배경 투명 */
    color: white; /* 흰색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive; /* 귀여운 폰트 */
    font-size: 15px; /* 폰트 사이즈 */
}

/* 회원 가입 버튼 오른쪽 정렬 */
.register-button {
    margin-left: auto; /* 자동으로 오른쪽으로 이동 */
}

/* 프로젝트 및 프로젝트 생성 버튼 오른쪽 정렬 */
.projects-button, .create-button, .logout-button {
    margin-left: auto; /* 왼쪽 여백 추가 */
}
.create-button {
    margin-right: 27px;
}

/* 로그인 버튼 왼쪽 여백 조절 */
.login-button {
    margin-right: 27px; /* 왼쪽 여백 추가 */
}

/* 예시로 내용 추가 */
.main-content {
    margin-top: 1.5cm; /* 상단 바와 겹치지 않도록 페이지 컨텐츠의 여백을 조정 */
    padding: 20px;
}

/* 홈 링크 스타일 */
.home-link {
    color: white; /* 흰색 */
    text-decoration: none; /* 밑줄 제거 */
}