/* mainstyles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 상단 파란색 바 스타일 */
.top-bar {
    background-color: #396ac8;
    height: 3rem; /* 높이를 3rem으로 변경 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 내부 요소들을 최대한 넓게 배치 */
}

/* Mini-Dooray 텍스트 스타일 */
.top-bar h2 {
    margin: 0;
    font-size: 1.2rem; /* 폰트 사이즈를 1.2rem으로 변경 */
    color: white;
    font-family: 'Comic Sans MS', cursive;
    cursor: pointer;
    margin-left: 15px;
}

.logout-button {
    padding: 8px 16px; /* 버튼 내부 패딩을 조정 */
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive;
    font-size: 0.9rem; /* 폰트 사이즈를 0.9rem으로 변경 */
}

/* 예시로 내용 추가 */
.main-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 700px;
}

.main-content input[type="text"] {
    width: 70%; /* 입력란 너비 조정 */
    padding: 8px; /* 입력란 내부 여백 설정 */
    font-size: 13px; /* 폰트 사이즈 설정 */
}

.create-button[type="submit"] {
    padding: 7px 20px;
    background-color: #005eff; /* 배경색 */
    color: white; /* 글자색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive; /* 폰트 */
    font-size: 15px; /* 폰트 크기 */
}

.create-button[type="submit"]:hover {
    background-color: #0056b3; /* 마우스 호버시 배경색 */
}

/* 홈 링크 스타일 */
.home-link {
    color: white; /* 흰색 */
    text-decoration: none; /* 밑줄 제거 */
}