/* mainstyles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* 상단 파란색 바 스타일 */
.top-bar {
    background-color: #396ac8;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100; /* 다른 요소 위에 올라오도록 설정 */
}

h1 {
    /* 폰트 설정 */
    font-family: 'Roboto', sans-serif;
    /* 글꼴 크기 설정 */
    font-size: 24px;
    /* 글꼴 색상 설정 */
    color: #333;
    /* 폰트 굵기 설정 */
    font-weight: bold;
    /* 텍스트 정렬 설정 */
    text-align: center;
    /* 위아래 여백 설정 */
    margin: 20px 0;
}

/* Mini-Dooray 텍스트 스타일 */
.top-bar h2 {
    margin: 0;
    font-size: 16px;
    color: white;
    font-family: 'Comic Sans MS', cursive;
    cursor: pointer;
}

.logout-button {
    padding: 10px 20px;
    background-color: transparent; /* 배경 투명 */
    color: white; /* 흰색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive; /* 귀여운 폰트 */
    font-size: 15px; /* 폰트 사이즈 */
    margin-right: 27px;
}

/* 홈 링크 스타일 */
.home-link {
    color: white;
    text-decoration: none;
}

/* project-list-styles.css */
.container {
    text-align: center;
    margin-top: 70px; /* 상단바와 겹치지 않도록 조정 */
    padding: 20px;
}

/* project-list-styles.css */
.project-list table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.project-list table th,
.project-list table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 16px; /* 글꼴 크기 설정 */
}

.project-list table th {
    background-color: #f2f2f2;
    font-weight: bold; /* 헤더 텍스트를 두껍게 설정 */
}

.project-list table tr:hover {
    background-color: #f9f9f9;
}

.project-list table td:first-child {
    width: 50px;
}

.project-list table i {
    margin-right: 5px;
}

.project-list button {
    padding: 10px 20px;
    background-color: #396ac8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* 버튼 텍스트 크기 설정 */
    transition: background-color 0.3s; /* 호버 시 색상 변경 애니메이션 추가 */
}

.project-list button:hover {
    background-color: #304e87; /* 호버 시 배경색 변경 */
}

.container {
    text-align: center;
    margin-top: 50px;
}

/* project-list-styles.css */

/* project-list-styles.css */

.back {
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back:hover {
    background-color: #bbb;
}



