/* mainstyles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

/* 상단 파란색 바 스타일 */
.top-bar {
    background-color: #396ac8; /* 파란색 */
    height: 1.3cm; /* 높이 1.2cm */
    width: 100%;
    position: fixed; /* 화면 상단에 고정 */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px; /* 오른쪽 여백 추가 */
}

/* Mini-Dooray 텍스트 스타일 */
.top-bar h2 {
    margin: 0;
    font-size: 16px; /* 폰트 사이즈 */
    color: white; /* 흰색 */
    font-family: 'Comic Sans MS', cursive; /* 귀여운 폰트 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능하도록 설정 */
    margin-right: auto; /* 자동으로 오른쪽으로 이동 */
}

.logout-button {
    padding: 10px 20px;
    background-color: transparent; /* 배경 투명 */
    color: white; /* 흰색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive; /* 귀여운 폰트 */
    font-size: 15px; /* 폰트 사이즈 */
    margin-right: 27px;
}

/* 홈 링크 스타일 */
.home-link {
    color: white; /* 흰색 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 예시로 내용 추가 */
.main-content {
    margin-top: 1.9cm; /* 상단 바와 겹치지 않도록 페이지 컨텐츠의 여백을 조정 */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    width: 30%;
}

/* project-taskstyles.css */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem auto;
    background-color: white;
    overflow: hidden;
}

thead {
    background-color: #f4f4f4;
    color: white;
    text-align: center;
}

/* 테이블 행 */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    padding: 8px;
    border-top: 3px solid #f4f4f4;
    border-bottom: 2px solid #000000;
    color: #000;
    text-align: center;
}

/* 테이블 올렸을 때 */
tbody tr:hover {
    background-color: #d3d3d3;
    opacity: 0.9;
    cursor: pointer;
}

/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
    width: 15%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 55%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 30%;
}

th, td {
    border-left: none;
    border-right: none;
}

.create-button[type="submit"] {
    padding: 7px 20px;
    background-color: #050101; /* 배경색 */
    color: white; /* 글자색 */
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive; /* 폰트 */
    font-size: 15px; /* 폰트 크기 */
}

.create-button[type="submit"]:hover {
    background-color: #0056b3; /* 마우스 호버시 배경색 */
}

/* 여백 설정 */
tbody tr {
    margin-bottom: 10px; /* 각 행의 아래 여백 설정 */
}
